# Cloned repositories
proxy-repo/
charging-repo/
frontend-repo/

# Docker volume data
proxy-docker/proxy-data/
charging-docker/charging-data/

# Logs
*.log
frontend.log
frontend.pid

# Environment variables
.env_keys

# Node modules
node_modules/

.DS_Store
idm-docker/vol-mysql/
cypress/screenshots
venv
